src/main/resources/Customers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:element name="Customers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Customer" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Customer">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:integer" name="CustomerId" />
				<xs:element type="xs:string" name="Name" />
				<xs:element type="xs:integer" name="Age" />
				<xs:element type="xs:string" name="Address" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>